<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("./parts/head") %>
</head>
<body>
    <%-include("./parts/nav") %>
    <section>
        <h1><%= title %></h1>
        <form action="" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit" value="Register">
        </form>
    </section>
</body>
</html>
